---
http_interactions:
- request:
    method: get
    uri: http://api.amp.active.com/camping/campground/details?api_key=6NZ4ZJSMVFJHRJG4WM8ESYZ3&contractCode=CO&parkId=50020
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <detailDescription alert="" contractID="CO" description=" With much to offer, this park is an ideal destination for those who want a break in the great outdoors.  An easy reach location alongside north I-25 between Denver and Ft. Collins, St. Vrain State Park, with 80 acres of water and 50 acres of recreational land, is a great place for fishermen to fish for rainbow trout, bass and catfish.  Campers, photographers, birders and anyone who loves to enjoy nature will find plenty of exciting opportunities as well.  Park visitors are treated to breathtaking views of Longs Peak and the Rockies with ample opportunities to see a variety of wildlife that live in the park.  The park features 40 campsites. " drivingDirection="Six Miles east of Longmont. Take Hwy 119 west of I-25; turn north on County Rd. 7." facilitiesDescription="" facility="ST. VRAIN STATE PARK" facilityID="50020" fullReservationUrl="http://www.reserveamerica.com/campsiteSearch.do?contractCode=CO&amp;parkId=50020&amp;cmp=39-32--mcmire" importantInformation="Reservations being accepted March 1st, 2010 - October 14th, 2010." latitude="40.1697222" longitude="-104.9877778" nearbyAttrctionDescription="" note="" orientationDescription="" recreationDescription="" regionName="High Plains Region" reservationUrl="/campsiteSearch.do?contractCode=CO&amp;parkId=50020&amp;cmp=39-32--mcmire">
        <address city="LONGMONT" country="United States" shortName="STVR" state="Colorado" streetAddress="3525 Highway 119" zip="80504"/>
        <photo realUrl="/webphotos/CO/pid50020/0/180x120.jpg" url="&lt;img width=&quot;180&quot; height=&quot;120&quot; src=&quot;/webphotos/CO/pid50020/0/180x120.jpg&quot; class=&quot;PopBoxImageSmall&quot; pbsrc=&quot;/webphotos/CO/pid50020/0/540x360.jpg&quot; onclick=&quot;PopPhoto(this,50,'PopBoxImageLarge');&quot;   /&gt;"/>
        <photo realUrl="/webphotos/CO/pid50020/1/180x120.jpg" url="&lt;img width=&quot;180&quot; height=&quot;120&quot; src=&quot;/webphotos/CO/pid50020/1/180x120.jpg&quot; class=&quot;PopBoxImageSmall&quot; pbsrc=&quot;/webphotos/CO/pid50020/1/540x360.jpg&quot; onclick=&quot;PopPhoto(this,50,'PopBoxImageLarge');&quot;   /&gt;"/>
        <photo realUrl="/webphotos/CO/pid50020/2/180x120.jpg" url="&lt;img width=&quot;180&quot; height=&quot;120&quot; src=&quot;/webphotos/CO/pid50020/2/180x120.jpg&quot; class=&quot;PopBoxImageSmall&quot; pbsrc=&quot;/webphotos/CO/pid50020/2/540x360.jpg&quot; onclick=&quot;PopPhoto(this,50,'PopBoxImageLarge');&quot;   /&gt;"/>
        <photo realUrl="/webphotos/CO/pid50020/3/180x120.jpg" url="&lt;img width=&quot;180&quot; height=&quot;120&quot; src=&quot;/webphotos/CO/pid50020/3/180x120.jpg&quot; class=&quot;PopBoxImageSmall&quot; pbsrc=&quot;/webphotos/CO/pid50020/3/540x360.jpg&quot; onclick=&quot;PopPhoto(this,50,'PopBoxImageLarge');&quot;   /&gt;"/>
        <informationLink link="" title=""/>
        <contact name="Direct Line" number="3036789402"/>
        <contact name="Ranger Station" number=""/>
        <amenity distance="Within Facility" name="ADA Fish. Access"/>
        <amenity distance="Within Facility" name="Biking"/>
        <amenity distance="Within Facility" name="Bird Watching"/>
        <amenity distance="Within Facility" name="Comfort Station"/>
        <amenity distance="Within Facility" name="Dump Station"/>
        <amenity distance="Within Facility" name="Firewood Available"/>
        <amenity distance="Within Facility" name="Fishing"/>
        <amenity distance="Within Facility" name="Hiking"/>
        <amenity distance="Within Facility" name="Horseback Riding"/>
        <amenity distance="Within Facility" name="Ice Fishing"/>
        <amenity distance="Within Facility" name="Parking"/>
        <amenity distance="Within Facility" name="Photography"/>
        <amenity distance="Within Facility" name="Picnic Tables"/>
        <amenity distance="Within Facility" name="Picnicking"/>
        <amenity distance="Within Facility" name="Ranger Station"/>
        <amenity distance="Within Facility" name="Showers"/>
        <amenity distance="Within Facility" name="Toilet, Pit/Vault"/>
        <amenity distance="Within Facility" name="Wildlife Watching Opportunity"/>
        <bulletin/>
        </detailDescription>
  recorded_at: Sun, 02 Jun 2013 02:42:50 GMT
recorded_with: VCR 2.5.0
