<% if @search.performed? %>
  <div class="camp-results">
    <% if @search.query_items.any? %>
      <div class="search-queries group">
        <h3>Your search query includes:</h3>
        <ul class="group query-icons">
          <% @search.query_items.each do |query_item| %>
            <%= render 'query_item', query_item: query_item %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @search.any? %>
      <ul class='campsites'>
        <%= render @search.to_a %>
      </ul>
    <% else %>
      <div class='campsites no-results'>
        <div class="campsite group">
          Sorry, no results found!
        </div>
      </div>
    <% end %>
  </div>
<% end %>
