<div class="camp-results">
  <div class="search-queries group">
    <h3>Your search query includes:</h3>
    <ul class="group">
      <li>feature</li>
      <li>feature</li>
      <li>feature</li>
      <li>feature</li>
      <li>feature</li>
    </ul>
  </div>

  <ul class='campsites'>
    <%= render @search.to_a %>
  </ul>
</div>
