body {
  background: image-url('site-bg.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}
a {
  color: #CD6475;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #CD6475;
  }
}
.campsites {
  background: image-url('sub-bg.png') no-repeat center center fixed;
  background-size: cover;
}
.container {
  margin: $center;
  @include size (1150 auto);
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -15px;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
