body {
  background: image-url('site-bg.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}
.campsites {
  background: image-url('sub-bg.png') no-repeat center center fixed;
  background-size: cover;
}
.container {
  margin: $center;
  @include size (1150 auto);
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -15px;
  height: 100%;
}