body {
  background: image-url('site-bg.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.container {
  margin: $center;
  @include size (1150 auto);
}