.sub-header {
  background: #002936;
  padding-top: 15px;
  padding-bottom: 15px;
  .sub-logo {
    float: left;
    display: inline;
    margin-left: 20px;
  }
  .nav {
    float: right;
    display: inline;
    margin-right: 20px;
    ul {
      margin-top: 20px;
      li {
        display: inline;
        font-size: 13px;
        font-weight: bold;
        margin-right: 40px;
        a {
          color: #EEEBE3;
          text-decoration: none;
          &:hover {
            color: #CF6374;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
.breadcrumb {
  @include size(1150 auto);
  margin: $center;
  margin-top: 55px;
  text-transform: uppercase;
}
.campsite-container {
  background: #fff;
  border: 1px solid #D8D5CD;
  padding: 40px 60px;
  @include size (1035 auto);
  margin: $center;
  margin-top: 55px;
}