.sub-header {
  background: #002936;
  padding-top: 15px;
  padding-bottom: 15px;
  .sub-logo {
    float: left;
    display: inline;
    margin-left: 20px;
  }
  .nav {
    float: right;
    display: inline;
    margin-right: 20px;
    ul {
      margin-top: 20px;
      li {
        display: inline;
        font-size: 13px;
        font-weight: bold;
        margin-right: 40px;
        a {
          color: #EEEBE3;
          text-decoration: none;
          &:hover {
            color: #CF6374;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
.breadcrumb {
  @include size(1150 auto);
  margin: $center;
  margin-top: 55px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  background: none;
  ul {
    li {
      display: inline;
      color: #002837;
      a {
        color: #CD6475;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.campsite-wrapper {
  @include size(1150 auto);
  margin: $center;
  margin-top: 55px;
  .campsite-container {
    background: #fff;
    border: 1px solid #D8D5CD;
    padding: 40px 60px;
    @include size(672 auto);
    float: left;
    margin-bottom: 100px;
    h3 {
      font-size: 25px;
      color: #002937;
      float: left;
    }
    .make-reservation {
      @include size (143 auto);
      padding: 15px 10px;
      background: #CD6475;
      border: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      float: right;
      &:hover {
        color: #67323B;
        text-decoration: none;
      }
    }
    p {
      font-size: 15px;
      color: #7F7F7F;
      line-height: 25px;
      margin-top: 40px;
    }
    .carousel {
      margin-top: 50px;
    }
    .camp-features {
      margin-top: 55px;
      .tab-content {
        ul {
          padding-left: 20px;
          margin-top: 30px;
          li {
            padding-bottom: 22px;
            font-size: 13px;
            color: #7F7F7F;
          }
        }
        .column {
          float: left;
          display: inline;
          margin-right: 50px;
        }
      }
    }
    .nav-tabs {
      background-color: #F7F6F3;
      font-size: 14px;
      padding-top: 10px;
      padding-left: 10px;
      li {
        &.active {
          color: #CD6475;
        }
        a {
          color: #7D939A;
          &:hover {
            color: #CD6475;
          }
        }
      }
    }
  }
  .campsite-sidebar {
    float: left;
    display: inline;
    margin-left: 20px;
    @include size(314 auto);
    background: image-url('sidebar-bg.png') repeat top left;
    border: 1px solid #CDCBC2;
    padding: 10px;
    .mapview {
      background: #fff;
      padding:5px;
      min-height: 190px;
    }
    .overview-information {
      margin-top: 10px;
      color: #002937;
      line-height: 28px;
    }
    .contact-information {
      margin-top: 30px;
      font-size: 15px;
      color: #002937;
      a {
        font-size: 13px;
      }
      ul {
        li {
          padding-bottom: 15px;
          &:last-of-type {
            padding: none;
          }
        }
      }
      .left {
        float: left;
      }
      .right {
        float: right;
        text-align: right;
      }
    }
  }
}
