<li id="<%= dom_id(campsite) %>" class='campsite group'>
  <div class="campsite-info-left">
    image will go here
  </div>
  <div class="campsite-info-right group">
    <div class="campsite-name-information">
      <h2 class='campsite-name'><%= link_to campsite.name, campsite %></h2>
      <p><%= truncate(campsite.description, length: 140, separator: ' ') %></p>
    </div>
  </div>
  <div class="campsite-specifics">
    <h2>campground overview</h2>
    <ul class="overview">
      <% campsite_overview(campsite).each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>

    <div class="res">
      <a href="#"><button class="make-reservation">make reservation</button></a>
    </div>
  </div>
</li>
