<header class="sub-header group">
  <div class="sub-logo"><%= link_to image_tag('small-logo.png', alt: 'Camp Colorado'), root_path %></div>
  <nav class="nav">
    <ul>
      <li><a href="#">Find a campground</a></li>
      <li><a href="#">Things to bring</a></li>
      <li><a href="#">Activity guide</a></li>
      <li><a href="#">Camping tips</a></li>
    </ul>
  </nav>
</header>

<section class="breadcrumb">
  <ul>
    <li><a href="#">home</a></li>
    <li>/</li>
    <li><a href="#">find a campground</a></li>
    <li>/</li>
    <li><%= @campsite.name %></li>
  </ul>
</section>

<div class="campsite-wrapper group">
  <section class="campsite-container">
    here
  </section>
  
  <section class="campsite-sidebar">
    here
  </section>
</div>